<div class="container"><div class="row">
  {{#region 'highlighted' class="col col-md-12"}}{{/region}}

  <div class="col-lg-12">
    <ol class="ember-view breadcrumbs breadcrumb">
      <li class="first current">
        {{#link-to 'conference_admin' conference.id}}{{t 'home'}}{{/link-to}}
      </li>
    </ol>
  </div>

  {{#region 'sidebar' class="col col-md-3"}}{{/region}}

  <div class="col col-md-9">
    <h1 class="page-header">{{title}}</h1>

    <div id="sysMessagesArea">{{{we-messages}}}</div>

    {{{body}}}
  </div>
</div></div>