<h2>{{t 'Tickets'}}</h2>
<form>
<div class="table-responsive">
  <table id="ticketsTable" class="table table-hover event-ticket-type-table">
    <tbody>
      <tr class="event-ticket-type-empty">
        <td colspan="4">{{t 'eventTicketType.user.select.empty'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</form>