<div class="conference-home-layout">
  {{#region 'highlighted'}}{{/region}}
  <div id="sysMessagesArea">{{{we-messages}}}</div>
  <section id="about">
    <div class="guitar2">
      <img class="img-responsive" src="/public/theme/we-theme-conference/images/guitar2.jpg" alt="guitar">
    </div>
    <div class="about-content">
      <h1>{{title}}</h1>
      {{{body}}}
    </div>
  </section>
  {{#region 'afterContent'}}{{/region}}
</div>