<div class="event-home-layout">
  {{#region 'highlighted'}}{{/region}}
  <div id="sysMessagesArea">{{{we-messages}}}</div>
  <section id="about">
    <div class="guitar2">
      <img class="img-responsive" src="/public/theme/we-theme-event/images/guitar2.jpg" alt="guitar">
      <div style="width:260px; float:right;">{{{template 'event/event-registration-btn'}}}</div>
    </div>
    <div class="about-content">
      <h1>{{title}}</h1>
      {{{body}}}
    </div>
  </section>
  {{#region 'afterContent'}}{{/region}}
</div>