<footer id="footer">
  <div class="container">
    <div class="text-center">
      <p>
       <a href="http://wejs.org">We.js powered :)</a>
      </p>
    </div>
  </div>
</footer>

{{{render-bootstrap-config}}}
{{{render-javascript-tags 'footer'}}}
{{{render-client-component-templates}}}
{{we-event event="we-html-body-end"}}
