<footer id="footer">
  <div class="container">
    <div class="text-center">
      <p><a target="_blank" href="http://shapebootstrap.net/"> Evento </a>theme  &copy;2014. All theme Rights Reserved to <a target="_blank" href="http://shapebootstrap.net/">ShapeBootstrap</a>
      <br>
      <a href="http://wejs.org">We.js powered :)</a>
      </p>
    </div>
  </div>
</footer>