<div class="container"><div class="row">
  {{#region 'highlighted' class="col col-md-12"}}{{/region}}

  <div class="col col-md-9">
    <h2 class="page-header">{{title}}</h2>

    <div id="sysMessagesArea">{{{we-messages}}}</div>

    {{{body}}}
  </div>
  {{#region 'sidebar' class="col col-md-3"}}{{/region}}
</div></div>